body {
	font-family: Trajan Pro;
	text-align: center;
	color: #D3E7E5;
	background-image: url(../images/gearimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body:before {
	content: "";
	position: absolute;
  	left: 0; right: 0;
  	top: 0; bottom: 0;
  	background: rgba(0,0,0,.5);
  	z-index: -1;
}

h1 {
	padding-top: 20px;
	font-size: 50px;
}

#navbar {
	text-align: center;
	display: inline;
	margin: 0;
	padding: 0;

}

#navbar li {
	display: inline;
}

a {
	text-decoration: underline;
	color: #D3E7E5;
	font-weight: bold;
}

a:hover {
	color: #f4f4f4
}

h2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

h4 {
	padding-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-bottom: 10px;
}

li {
	padding-right: 30px;

}